<!-- # app/views/home/index.html.erb -->

<!-- menampilkan pesan notice -->
<% if notice %>
    <p><%= notice %></p>
<% end %>

<!-- menampilkan pesan alert -->
<% if alert %>
    <p><%= alert %></p>
<% end %>